/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 20px;
}

h2 {
    color: #ff69b4;
    font-size: 24px;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

/* Inputs de texto */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Radio e Checkbox */
input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}

/* Estilo dos botões */
input[type="submit"] {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ff1493;
}

/* Espaçamento entre seções */
br + br {
    margin-bottom: 10px;
}
